/*********************
    GENERAL RESET
*********************/

*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
/* Allow percentage-based heights in the application */
html,
body,
#root {
  height: 100%;
}
/* Typographic tweaks! Add accessible line-height Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*********************
    GLOBAL CSS
*********************/

/* Global Color Palette */
:root {
  :root {
    --color-black: #151619;
    --color-dark-gray: #1d1f22;
    --color-gray: #2b2d31;
    --color-light-gray: #5a6069;
    --color-lighter-gray: #7c8187;
    --color-lightest-gray: #c1c4cb;
    --color-white: #ffffff;
    --color-accent-dark: #e46643;
    --color-accent-light: #f39765;

    /* Background colors */
    --background-color-default: var(--color-white);
    --background-color-light: var(--color-lightest-gray);

    /* Text colors */
    --text-color-primary: var(--color-black);
    --text-color-secondary: var(--color-dark-gray);
    --text-color-tertiary: var(--color-gray);

    /* Interactive elements */
    --button-idle-bg: var(--color-accent-dark);
    --button-hover-bg: var(--color-accent-light);
  }
}

/* Global Typography */
body {
  background-color: var(--background-color-default);
  color: var(--text-color-primary);
}

body,
button,
input,
textarea,
select {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  font-weight: 300;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 700;
}

h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 700;
}

h6 {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
}

p,
a,
li,
span {
  /* Default paragraph and inline styles */
  font-size: 14px;
  line-height: 24px; /* Providing line-height for better readability */
  font-weight: 400;
}

/***************************** 
    INTERACTIVE ELEMENTS
*****************************/
button {
  background-color: var(--button-idle-bg);
  border: none;
  color: var(--color-white);
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-bg);
}

input[type='text'],
textarea {
  border: 1px solid var(--color-gray-light);
  padding: 8px;
}

input[type='text']:hover,
textarea:hover {
  border-color: var(--color-gray-dark);
}

/************************ 
    UTILITY CLASSES
************************/
